NODE_ENV=development

POSTGRES_DB=app
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/app?schema=public

NEXT_PUBLIC_SITE_URL=http://localhost:3000
STRAPI_URL=http://cms:1337
STRAPI_API_TOKEN=replace-me
APP_BASE_URL=http://localhost:3000

JWT_SECRET=replace-me
APP_KEYS=replace-me-1,replace-me-2
API_TOKEN_SALT=replace-me
ADMIN_JWT_SECRET=replace-me
TRANSFER_TOKEN_SALT=replace-me
